
<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>FlickLytics</title>
    </head>
    <body>
        <h1>Welcome to FlickLytics</h1>

        <form>
            <input type="text" placeholder="Search..">
            <select name="Category" id="category">
                <option value="movie">Movie</option>
                <option value="tvShow">TV Show</option>
                <option value="person">Person</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>